<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>quang.servlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>quang.servlet.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListUserController</servlet-name>
        <servlet-class>quang.servlet.GetListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>quang.servlet.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailUserController</servlet-name>
        <servlet-class>quang.servlet.GetDetailUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>quang.servlet.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>quang.servlet.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListProductController</servlet-name>
        <servlet-class>quang.servlet.GetListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListTypeProductController</servlet-name>
        <servlet-class>quang.servlet.GetListTypeProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailProductController</servlet-name>
        <servlet-class>quang.servlet.GetDetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>quang.servlet.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>quang.servlet.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>quang.servlet.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>quang.servlet.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>quang.servlet.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListBillController</servlet-name>
        <servlet-class>quang.servlet.GetListBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailBillController</servlet-name>
        <servlet-class>quang.servlet.GetDetailBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTypeProductController</servlet-name>
        <servlet-class>quang.servlet.CreateTypeProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeProductController</servlet-name>
        <servlet-class>quang.servlet.DeleteTypeProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/ProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListUserController</servlet-name>
        <url-pattern>/GetListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailUserController</servlet-name>
        <url-pattern>/GetDetailUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListProductController</servlet-name>
        <url-pattern>/GetListProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListTypeProductController</servlet-name>
        <url-pattern>/GetListTypeProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailProductController</servlet-name>
        <url-pattern>/GetDetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/ShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListBillController</servlet-name>
        <url-pattern>/GetListBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailBillController</servlet-name>
        <url-pattern>/GetDetailBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTypeProductController</servlet-name>
        <url-pattern>/CreateTypeProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeProductController</servlet-name>
        <url-pattern>/DeleteTypeProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ProcessController</welcome-file>
    </welcome-file-list>
</web-app>
